--
-- PostgreSQL database dump
--

\restrict wFMAd0kTCYaBiS9GFqfjb833huZj6LKCbc4Sxb5jkLhofVihuKoBi4jX4z7hAel

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: aiprovider; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.aiprovider AS ENUM (
    'GROQ',
    'GEMINI',
    'OPENAI',
    'CLAUDE'
);


ALTER TYPE public.aiprovider OWNER TO postgres;

--
-- Name: emailencryption; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.emailencryption AS ENUM (
    'NONE',
    'TLS',
    'SSL'
);


ALTER TYPE public.emailencryption OWNER TO postgres;

--
-- Name: invitation_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.invitation_status AS ENUM (
    'PENDING',
    'ACCEPTED',
    'REJECTED',
    'EXPIRED',
    'REVOKED'
);


ALTER TYPE public.invitation_status OWNER TO postgres;

--
-- Name: logic_operator_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.logic_operator_enum AS ENUM (
    'AND',
    'OR'
);


ALTER TYPE public.logic_operator_enum OWNER TO postgres;

--
-- Name: membership_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.membership_status AS ENUM (
    'INVITED',
    'ACTIVE',
    'SUSPENDED',
    'DEACTIVATED'
);


ALTER TYPE public.membership_status OWNER TO postgres;

--
-- Name: notificationchannel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationchannel AS ENUM (
    'IN_APP',
    'EMAIL',
    'SLACK',
    'TEAMS',
    'WEBHOOK'
);


ALTER TYPE public.notificationchannel OWNER TO postgres;

--
-- Name: notificationpriority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationpriority AS ENUM (
    'INFO',
    'SUCCESS',
    'WARNING',
    'ERROR'
);


ALTER TYPE public.notificationpriority OWNER TO postgres;

--
-- Name: notificationstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationstatus AS ENUM (
    'PENDING',
    'SENT',
    'FAILED'
);


ALTER TYPE public.notificationstatus OWNER TO postgres;

--
-- Name: notificationtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationtype AS ENUM (
    'DOCUMENT',
    'AUTOMATION',
    'EMAIL',
    'SYSTEM',
    'SECURITY'
);


ALTER TYPE public.notificationtype OWNER TO postgres;

--
-- Name: organization_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.organization_role AS ENUM (
    'OWNER',
    'ADMIN',
    'BILLING',
    'MEMBER'
);


ALTER TYPE public.organization_role OWNER TO postgres;

--
-- Name: organization_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.organization_status AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'ARCHIVED'
);


ALTER TYPE public.organization_status OWNER TO postgres;

--
-- Name: workspace_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.workspace_role AS ENUM (
    'ADMIN',
    'CONTRIBUTOR',
    'VIEWER'
);


ALTER TYPE public.workspace_role OWNER TO postgres;

--
-- Name: workspace_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.workspace_status AS ENUM (
    'ACTIVE',
    'ARCHIVED',
    'SUSPENDED'
);


ALTER TYPE public.workspace_status OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_settings (
    id uuid NOT NULL,
    provider public.aiprovider NOT NULL,
    model character varying(100) NOT NULL,
    temperature double precision NOT NULL,
    max_output_tokens integer NOT NULL,
    top_p double precision NOT NULL,
    frequency_penalty double precision NOT NULL,
    presence_penalty double precision NOT NULL,
    system_prompt_version character varying(50) NOT NULL,
    prompt_version character varying(50) NOT NULL,
    enable_token_tracking boolean NOT NULL,
    enable_streaming boolean NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    input_cost_per_1k_tokens double precision DEFAULT '0'::double precision NOT NULL,
    output_cost_per_1k_tokens double precision DEFAULT '0'::double precision NOT NULL
);


ALTER TABLE public.ai_settings OWNER TO postgres;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: automation_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.automation_logs (
    id uuid NOT NULL,
    status character varying(50) NOT NULL,
    log_message text,
    rule_id uuid NOT NULL,
    work_item_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.automation_logs OWNER TO postgres;

--
-- Name: automation_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.automation_rules (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    event character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    priority integer NOT NULL,
    conditions json NOT NULL,
    logic_operator public.logic_operator_enum NOT NULL,
    actions json NOT NULL
);


ALTER TABLE public.automation_rules OWNER TO postgres;

--
-- Name: conversation_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversation_messages (
    id uuid NOT NULL,
    role character varying(50) NOT NULL,
    content character varying NOT NULL,
    sources json,
    conversation_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    token_usage json
);


ALTER TABLE public.conversation_messages OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id uuid NOT NULL,
    title character varying(150) NOT NULL,
    user_id uuid NOT NULL,
    work_item_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: document_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_settings (
    id uuid NOT NULL,
    chunk_size integer NOT NULL,
    chunk_overlap integer NOT NULL,
    embedding_model character varying(100) NOT NULL,
    ocr_language character varying(20) NOT NULL,
    max_upload_size integer NOT NULL,
    allowed_file_types character varying(255) NOT NULL,
    duplicate_detection boolean NOT NULL,
    automatic_classification boolean NOT NULL,
    automatic_summarization boolean NOT NULL,
    automatic_entity_extraction boolean NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_settings OWNER TO postgres;

--
-- Name: email_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_settings (
    id uuid NOT NULL,
    smtp_host character varying(255) NOT NULL,
    smtp_port integer NOT NULL,
    smtp_username character varying(255) NOT NULL,
    encrypted_password character varying(512) NOT NULL,
    sender_name character varying(100) NOT NULL,
    encryption public.emailencryption NOT NULL,
    is_enabled boolean NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.email_settings OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    title character varying(150) NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    user_id uuid NOT NULL,
    work_item_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    notification_type public.notificationtype NOT NULL,
    priority public.notificationpriority NOT NULL,
    delivery_channel public.notificationchannel NOT NULL,
    delivery_status public.notificationstatus NOT NULL,
    retry_count integer NOT NULL,
    failure_reason text
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: organization_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organization_members (
    id uuid NOT NULL,
    organization_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role public.organization_role NOT NULL,
    status public.membership_status NOT NULL,
    deactivated_at timestamp with time zone,
    deactivated_by_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.organization_members OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id uuid NOT NULL,
    slug character varying(63) NOT NULL,
    name character varying(150) NOT NULL,
    legal_name character varying(255),
    status public.organization_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: processing_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.processing_jobs (
    id uuid NOT NULL,
    progress integer NOT NULL,
    status character varying(50) NOT NULL,
    retry_count integer NOT NULL,
    error_message character varying(5000),
    execution_metadata json,
    work_item_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.processing_jobs OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_superuser boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: work_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_items (
    id uuid NOT NULL,
    original_filename character varying(255) NOT NULL,
    stored_filename character varying(255) NOT NULL,
    file_type character varying(100) NOT NULL,
    file_size integer NOT NULL,
    status character varying(50) NOT NULL,
    summary text,
    extracted_entities json,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.work_items OWNER TO postgres;

--
-- Name: workspace_invitations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workspace_invitations (
    id uuid NOT NULL,
    workspace_id uuid NOT NULL,
    inviter_id uuid NOT NULL,
    email character varying(255) NOT NULL,
    status public.invitation_status NOT NULL,
    token character varying(512) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    accepted_at timestamp with time zone,
    rejected_at timestamp with time zone,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    organization_id uuid,
    role public.workspace_role NOT NULL
);


ALTER TABLE public.workspace_invitations OWNER TO postgres;

--
-- Name: workspace_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workspace_members (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    workspace_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    status public.membership_status NOT NULL,
    role public.workspace_role NOT NULL,
    deactivated_at timestamp with time zone,
    deactivated_by_id uuid
);


ALTER TABLE public.workspace_members OWNER TO postgres;

--
-- Name: workspaces; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workspaces (
    id uuid NOT NULL,
    workspace_name character varying(100) NOT NULL,
    company_logo_url character varying(500),
    timezone character varying(100) NOT NULL,
    language character varying(20) NOT NULL,
    currency character varying(10) NOT NULL,
    date_format character varying(30) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    organization_id uuid NOT NULL,
    slug character varying(63) NOT NULL,
    status public.workspace_status NOT NULL
);


ALTER TABLE public.workspaces OWNER TO postgres;

--
-- Data for Name: ai_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_settings (id, provider, model, temperature, max_output_tokens, top_p, frequency_penalty, presence_penalty, system_prompt_version, prompt_version, enable_token_tracking, enable_streaming, user_id, created_at, updated_at, input_cost_per_1k_tokens, output_cost_per_1k_tokens) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
e66f8636c46a
\.


--
-- Data for Name: automation_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.automation_logs (id, status, log_message, rule_id, work_item_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: automation_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.automation_rules (id, name, event, is_active, user_id, created_at, updated_at, priority, conditions, logic_operator, actions) FROM stdin;
\.


--
-- Data for Name: conversation_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversation_messages (id, role, content, sources, conversation_id, created_at, updated_at, token_usage) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, title, user_id, work_item_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_settings (id, chunk_size, chunk_overlap, embedding_model, ocr_language, max_upload_size, allowed_file_types, duplicate_detection, automatic_classification, automatic_summarization, automatic_entity_extraction, user_id, created_at, updated_at) FROM stdin;
0b6c25b9-ea4a-4ae5-a8fd-182430a241d5	500	100	sentence-transformers/all-MiniLM-L6-v2	eng	50	pdf,png,jpg,jpeg	t	t	f	f	179f25ec-9cec-46e7-869f-831b6b965ebb	2026-08-03 09:56:34.687821+00	2026-08-03 09:56:34.687821+00
\.


--
-- Data for Name: email_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_settings (id, smtp_host, smtp_port, smtp_username, encrypted_password, sender_name, encryption, is_enabled, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organization_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (id, slug, name, legal_name, status, created_at, updated_at) FROM stdin;
8047e508-8ba3-4b2f-b592-0c3ba1205c52	flowpilot-ai	FlowPilot AI	\N	ACTIVE	2026-08-06 05:10:40.917589+00	2026-08-06 05:10:40.917589+00
9d8ac2ee-f4bf-4b7f-ab51-cdc8be92e62f	flowpilot-ai-2	FlowPilot AI	\N	ACTIVE	2026-08-06 05:10:40.917589+00	2026-08-06 05:10:40.917589+00
b4f20413-e3cc-4225-8dae-73e7348599c8	flowpilot-engine	Flowpilot Engine	\N	ACTIVE	2026-08-06 05:10:40.917589+00	2026-08-06 05:10:40.917589+00
\.


--
-- Data for Name: processing_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.processing_jobs (id, progress, status, retry_count, error_message, execution_metadata, work_item_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: work_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_items (id, original_filename, stored_filename, file_type, file_size, status, summary, extracted_entities, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: workspace_invitations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workspace_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workspaces; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_settings ai_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_settings
    ADD CONSTRAINT ai_settings_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: automation_logs automation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automation_logs
    ADD CONSTRAINT automation_logs_pkey PRIMARY KEY (id);


--
-- Name: automation_rules automation_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automation_rules
    ADD CONSTRAINT automation_rules_pkey PRIMARY KEY (id);


--
-- Name: conversation_messages conversation_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT conversation_messages_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: document_settings document_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_settings
    ADD CONSTRAINT document_settings_pkey PRIMARY KEY (id);


--
-- Name: email_settings email_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_settings
    ADD CONSTRAINT email_settings_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: organization_members pk_organization_members; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT pk_organization_members PRIMARY KEY (id);


--
-- Name: organizations pk_organizations; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT pk_organizations PRIMARY KEY (id);


--
-- Name: processing_jobs processing_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_jobs
    ADD CONSTRAINT processing_jobs_pkey PRIMARY KEY (id);


--
-- Name: organization_members uq_organization_user_membership; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT uq_organization_user_membership UNIQUE (organization_id, user_id);


--
-- Name: workspace_members uq_user_workspace_membership; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT uq_user_workspace_membership UNIQUE (user_id, workspace_id);


--
-- Name: workspaces uq_workspace_organization_slug; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT uq_workspace_organization_slug UNIQUE (organization_id, slug);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: work_items work_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_items
    ADD CONSTRAINT work_items_pkey PRIMARY KEY (id);


--
-- Name: workspace_invitations workspace_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_pkey PRIMARY KEY (id);


--
-- Name: workspace_members workspace_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_pkey PRIMARY KEY (id);


--
-- Name: workspaces workspaces_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_pkey PRIMARY KEY (id);


--
-- Name: ix_ai_settings_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_ai_settings_user_id ON public.ai_settings USING btree (user_id);


--
-- Name: ix_automation_logs_rule_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_logs_rule_id ON public.automation_logs USING btree (rule_id);


--
-- Name: ix_automation_logs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_logs_status ON public.automation_logs USING btree (status);


--
-- Name: ix_automation_logs_work_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_logs_work_item_id ON public.automation_logs USING btree (work_item_id);


--
-- Name: ix_automation_rules_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_rules_event ON public.automation_rules USING btree (event);


--
-- Name: ix_automation_rules_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_rules_is_active ON public.automation_rules USING btree (is_active);


--
-- Name: ix_automation_rules_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_rules_priority ON public.automation_rules USING btree (priority);


--
-- Name: ix_automation_rules_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_automation_rules_user_id ON public.automation_rules USING btree (user_id);


--
-- Name: ix_conversation_messages_conversation_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_conversation_messages_conversation_id ON public.conversation_messages USING btree (conversation_id);


--
-- Name: ix_conversations_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_conversations_user_id ON public.conversations USING btree (user_id);


--
-- Name: ix_conversations_work_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_conversations_work_item_id ON public.conversations USING btree (work_item_id);


--
-- Name: ix_document_settings_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_document_settings_user_id ON public.document_settings USING btree (user_id);


--
-- Name: ix_email_settings_is_enabled; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_email_settings_is_enabled ON public.email_settings USING btree (is_enabled);


--
-- Name: ix_email_settings_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_email_settings_user_id ON public.email_settings USING btree (user_id);


--
-- Name: ix_notifications_delivery_channel; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_delivery_channel ON public.notifications USING btree (delivery_channel);


--
-- Name: ix_notifications_delivery_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_delivery_status ON public.notifications USING btree (delivery_status);


--
-- Name: ix_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: ix_notifications_notification_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_notification_type ON public.notifications USING btree (notification_type);


--
-- Name: ix_notifications_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_priority ON public.notifications USING btree (priority);


--
-- Name: ix_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: ix_notifications_work_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_work_item_id ON public.notifications USING btree (work_item_id);


--
-- Name: ix_organization_members_organization_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_organization_members_organization_id ON public.organization_members USING btree (organization_id);


--
-- Name: ix_organization_members_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_organization_members_status ON public.organization_members USING btree (status);


--
-- Name: ix_organization_members_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_organization_members_user_id ON public.organization_members USING btree (user_id);


--
-- Name: ix_organizations_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_organizations_slug ON public.organizations USING btree (slug);


--
-- Name: ix_organizations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_organizations_status ON public.organizations USING btree (status);


--
-- Name: ix_processing_jobs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_processing_jobs_status ON public.processing_jobs USING btree (status);


--
-- Name: ix_processing_jobs_work_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_processing_jobs_work_item_id ON public.processing_jobs USING btree (work_item_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_is_active ON public.users USING btree (is_active);


--
-- Name: ix_users_is_superuser; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_is_superuser ON public.users USING btree (is_superuser);


--
-- Name: ix_work_items_file_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_work_items_file_type ON public.work_items USING btree (file_type);


--
-- Name: ix_work_items_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_work_items_status ON public.work_items USING btree (status);


--
-- Name: ix_work_items_stored_filename; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_work_items_stored_filename ON public.work_items USING btree (stored_filename);


--
-- Name: ix_work_items_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_work_items_user_id ON public.work_items USING btree (user_id);


--
-- Name: ix_workspace_invitations_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_invitations_email ON public.workspace_invitations USING btree (email);


--
-- Name: ix_workspace_invitations_inviter_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_invitations_inviter_id ON public.workspace_invitations USING btree (inviter_id);


--
-- Name: ix_workspace_invitations_organization_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_invitations_organization_id ON public.workspace_invitations USING btree (organization_id);


--
-- Name: ix_workspace_invitations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_invitations_status ON public.workspace_invitations USING btree (status);


--
-- Name: ix_workspace_invitations_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_workspace_invitations_token ON public.workspace_invitations USING btree (token);


--
-- Name: ix_workspace_invitations_workspace_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_invitations_workspace_id ON public.workspace_invitations USING btree (workspace_id);


--
-- Name: ix_workspace_members_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_members_status ON public.workspace_members USING btree (status);


--
-- Name: ix_workspace_members_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_members_user_id ON public.workspace_members USING btree (user_id);


--
-- Name: ix_workspace_members_workspace_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspace_members_workspace_id ON public.workspace_members USING btree (workspace_id);


--
-- Name: ix_workspaces_organization_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspaces_organization_id ON public.workspaces USING btree (organization_id);


--
-- Name: ix_workspaces_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspaces_slug ON public.workspaces USING btree (slug);


--
-- Name: ix_workspaces_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_workspaces_status ON public.workspaces USING btree (status);


--
-- Name: uq_pending_invitation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_pending_invitation ON public.workspace_invitations USING btree (workspace_id, email) WHERE (status = 'PENDING'::public.invitation_status);


--
-- Name: ai_settings ai_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_settings
    ADD CONSTRAINT ai_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: automation_logs automation_logs_rule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automation_logs
    ADD CONSTRAINT automation_logs_rule_id_fkey FOREIGN KEY (rule_id) REFERENCES public.automation_rules(id) ON DELETE CASCADE;


--
-- Name: automation_logs automation_logs_work_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automation_logs
    ADD CONSTRAINT automation_logs_work_item_id_fkey FOREIGN KEY (work_item_id) REFERENCES public.work_items(id) ON DELETE CASCADE;


--
-- Name: automation_rules automation_rules_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automation_rules
    ADD CONSTRAINT automation_rules_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: conversation_messages conversation_messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT conversation_messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: conversations conversations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: conversations conversations_work_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_work_item_id_fkey FOREIGN KEY (work_item_id) REFERENCES public.work_items(id) ON DELETE CASCADE;


--
-- Name: document_settings document_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_settings
    ADD CONSTRAINT document_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: email_settings email_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_settings
    ADD CONSTRAINT email_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: organization_members fk_organization_members_deactivated_by_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT fk_organization_members_deactivated_by_id FOREIGN KEY (deactivated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: organization_members fk_organization_members_organization_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT fk_organization_members_organization_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: organization_members fk_organization_members_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT fk_organization_members_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workspace_invitations fk_workspace_invitations_organization_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT fk_workspace_invitations_organization_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: workspace_members fk_workspace_members_deactivated_by_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT fk_workspace_members_deactivated_by_id FOREIGN KEY (deactivated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: workspaces fk_workspaces_organization_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT fk_workspaces_organization_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_work_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_work_item_id_fkey FOREIGN KEY (work_item_id) REFERENCES public.work_items(id) ON DELETE CASCADE;


--
-- Name: processing_jobs processing_jobs_work_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_jobs
    ADD CONSTRAINT processing_jobs_work_item_id_fkey FOREIGN KEY (work_item_id) REFERENCES public.work_items(id) ON DELETE CASCADE;


--
-- Name: work_items work_items_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_items
    ADD CONSTRAINT work_items_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workspace_invitations workspace_invitations_inviter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_inviter_id_fkey FOREIGN KEY (inviter_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workspace_invitations workspace_invitations_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON DELETE CASCADE;


--
-- Name: workspace_members workspace_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workspace_members workspace_members_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict wFMAd0kTCYaBiS9GFqfjb833huZj6LKCbc4Sxb5jkLhofVihuKoBi4jX4z7hAel

